

<!-- Инструменты (начало)-->
          <li> 
          <form>
            <div class="panel-group" id="collapse-group" style="width:275px">       
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h4 class="panel-title ">
                    <li data-toggle="collapse" data-parent="#collapse-group" href="#hidden-filters">
                        <span class="glyphicon glyphicon-filter"></span>
                        Фильтры
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </li>
                  </h4>
                </div>
                <div id="hidden-filters" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <!-- Меню фильтров (начало)-->
                    
                    <span class="label label-info"> СРО</span>
                    <input type="text" class="form-control" placeholder="CРО">
                    
                    <span class="label label-info"> Регионы</span>            
                    <input type="text" class="form-control" placeholder="Регионы">
                    
                    <span class="label label-info"> Тип должника</span>
                    <input type="text" class="form-control" placeholder="Тип должника">
                    
                    <span class="label label-info"> Кредиторы</span>
                    <input type="text" class="form-control" placeholder="Кредиторы">
                    
                    <span class="label label-info"> Размер требований...</span>
                    <div class="input-group">
                      <span class="input-group-addon">от</span>
                      <input type="text" class="form-control">
                      <span class="input-group-addon">до</span>
                      <input type="text" class="form-control">
                    </div>
                    <br/>
                    <div class="btn-group center-block">
                      <button type="submit" class="btn  btn-info"> Применить </button> 
                      <button type="submit" class="btn  "> Сбросить</button> 
                    </div>
                    <!-- Меню фильтров (конец)-->
                  </div>
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <li data-toggle="collapse" data-parent="#collapse-group" href="#hidden-sorts">
                      <span class="glyphicon glyphicon-stats"></span>
                      Сортировки 
                      <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </li>
                  </h4>
                </div>
                <div id="hidden-sorts" class="panel-collapse collapse">
                  <div class="panel-body">
                    <!-- Меню сортировок (начало)-->          
            
                    <span class="label label-info"> ФИО</span>
                    <br/>
                    <select class="span12 input-xlarge">
                      <option>По возрастанию</option>
                      <option>Не сортировать</option>
                      <option>По убыванию</option>
                    </select>
                    <br/>
                    <span class="label label-info"> Рейтинг</span>
                    <br/>                   
                    <select class="span12 input-xlarge">
                      <option>По возрастанию</option>
                      <option>Не сортировать</option>
                      <option>По убыванию</option>
                    </select>
                    <br/>
                    <span class="label label-info"> Средний размер дела</span>
                    <br/>
                    <select class="span12 input-xlarge">
                      <option>По возрастанию</option>
                      <option>Не сортировать</option>
                      <option>По убыванию</option>
                    </select>
                    <br/> <br/>
                    <div class="btn-group center-block">
                      <button type="submit" class="btn  btn-info"> Применить </button> 
                      <button type="submit" class="btn  "> Сбросить</button> 
                    </div>
                    <!-- Меню сортировок (конец)-->
                  </div>
                </div>
              </div>
            </div>
          </form> 
          </li>
          <!-- Инструменты (конец)-->
